.random-planet-wrapper{
  width: 100%;
  display: flex;
  padding: 30px;
  background: rgba(113, 119, 113, 0.51);
  border-radius: 5px;
  height: 300px;
}
.image-random-planet{
  background: url("./defolt-planet.jpg");
  background-size: cover;
  width: 250px;
  min-height: 250px;
  border-radius: 20px;
}

.info-random-planet{
  text-align: left;
}
.info-random-planet li{
  border-bottom: 1px solid #8a95a1;
}
@media (max-width: 740px){
  .random-planet-wrapper {
    flex-direction: column;
    height: auto;
    align-items: center;
  }
  .info-random-planet ul{
    padding: 0;
  }
}